body{
    background-color:aquamarine;
}
.container{
    width:800px;
    height:800px;
    cursor: pointer;
    background-color: rgb(77, 83, 42);
    margin: auto;
    padding-bottom: 100%;    
}

.text1, .text2{
    cursor: pointer;
    position: relative;
    color:black;
}
.text1:hover, .text2:hover{
    cursor: pointer;
    color:red;
    transition: 0.7s;
}
.Text1Content, .Text2Content {
    position: relative;
    visibility: hidden;
    max-height: 0;
}
.text1:hover >.text1Content{
    visibility: visible;
    position: relative;
}
.text2:hover >.Text2Content{
    visibility: visible;
    position: relative;
}

/* CSSbayan=container
cssbayan-bayan=text1
CSSbayan_bayan-content=text1Content */